.fligthsSection 
  display: flex
  flex-direction: column
  align-items: center
  margin-left: 20px
  max-width: 600px
  width: 100%

  .flightBlock
    margin-top: 10px
    margin-bottom: 10px

    .flightHeader
      background: rgb(57, 134, 196)
      height: 40px
      padding: 0 10px
      display: flex
      justify-content: space-between
      align-items: center

      .flightHeaderCompany

        img
          height: 20px
          width: auto
      
      .flightHeaderPrice
        color: #fff
        display: flex
        flex-direction: column

        p
          text-align: right
          margin: 0
        
        .price
          margin-top: 5px

        .priceMessage 
          margin-bottom: 5px
          font-size: 10px
    
    .flightTo
      border-bottom: 1px solid rgb(57, 134, 196)

    .flightFrom
      border-top: 1px solid rgb(57, 134, 196)
    
    .flightTo,
    .flightFrom
      margin: 0 5px

      .flightDirection
        padding-top: 10px
        padding-bottom: 10px
        display: flex
        border-bottom: 1px solid rgb(123, 135, 159)
        
        p
          margin: 0 10px

          span
            color: rgb(57, 134, 196)
          
        .flightArrow
          color: rgb(57, 134, 196)

      .flightTimes
        padding-top: 10px
        padding-bottom: 10px
        display: flex
        align-items: center
        justify-content: space-between

        p
          margin: 0 10px

          span
            font-size: 12px
            color: rgb(57, 134, 196)

      .flightDivider
        position: relative

        hr
          margin: 10px 20px
        
        .transferInfo
          position: absolute
          top: -22px  
          right: 240px
          color: rgb(244, 180, 116)
          padding: 0 10px
          background: #fff
          font-size: 13px

      .flightOwner

        padding-top: 10px
        padding-bottom: 10px

        p
          margin: 0 10px
          font-size: 15px

    button
      width: 100%
      border: none
      height: 40px
      color: #fff
      background: rgb(244, 180, 116)
      text-transform: uppercase
      cursor: pointer

  button
    border: 1px solid black
    padding: 2px 50px
    cursor: pointer
    